framework: netcoreapp2.0, netstandard2.0

source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget FSharp.Core
nuget Fable.Core
nuget Fable.Import.Node
nuget Fable.PowerPack
nuget LibGit2Sharp
nuget Hopac
nuget Logary >= 5.0.0-beta.11
nuget Logary.Adapters.Facade >= 5.0.0-beta.11
